<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>{{coin}}</h1>

    <img src="{{src}}" alt="prediction" />
    <p>Mean of the prediction : {{mean_predicted}}</p>
    <p>Positive tweets : {{Positive_tweets}}</p>
    <p>Negative tweets : {{Negative_tweets}}</p>
    <p>Recommendation Score : {{score}}</p>
    <p>Final result : {{final_result}}</p>
  </body>
</html>
